
table{
    margin-top: 65px;
    border-collapse: collapse;
    width: 100%;

}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 12.5%;
}
th{
    background: #dddddd;
}
.items-filter ul .item-type{
    float: left;
    padding: 8px;
    border: 1px solid;
    margin-right: 5px;
}
.active{
    color: white;
    background: #dddddd;
}
